*{
   margin: 0;
}
#container-questions{
   
   position: relative;
   top: 100px;
   padding-left: 20%;
   padding-right: 20%;

}

.box-questions{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}